<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-5 shadow-lg w-50 rounded-lg border-0">
    <h2 class="text-center mb-4 fw-bold">Login</h2>
    <form #userForm="ngForm" (ngSubmit)="login()">
      <div class="mb-3">
        <p-floatlabel>
          <input
            pInputText
            type="email"
            id="email"
            name="email"
            [ngClass]="'w-100 p-inputtext-sm'"
            [(ngModel)]="model.userEmail"
            required
            email
            #email="ngModel"
          />
          <label for="email">Email</label>
        </p-floatlabel>
        <small *ngIf="email.invalid && email.touched" class="text-danger"
          >Enter a valid email</small
        >
      </div>

      <div class="mb-4">
        <p-floatlabel>
          <p-password
            class=" "
            type="password"
            id="password"
            name="password"
            required
            autocomplete="off"
            [minlength]="6"
            [(ngModel)]="model.password"
            [feedback]="false"
            [toggleMask]="true"
            #passwordModel="ngModel"
          />
          <label for="password">Password</label>
          <small
            *ngIf="passwordModel.invalid && passwordModel.touched"
            class="text-danger"
          >
            Password is required and must be at least 6 characters long.
          </small>
        </p-floatlabel>
      </div>

      <p class="text-center text-success mt-3">{{ model.message }}</p>

      <div class="text-end mb-3">
        <a
          routerLink="/forgetpassword"
          class="text-decoration-none text-primary fw-bold"
          >Forgot Password?</a
        >
      </div>

      <div class="d-flex justify-content-between">
        <p-button
          label="Login"
          (click)="login()"
          [styleClass]="'px-5 py-2 fw-bold button'"
        />
        <p-button
          routerLink="/signup"
          label="Signup"
          [styleClass]="'px-5 py-2 fw-bold text-white'"
        />
      </div>
    </form>
  </div>
</div>

<style></style>
