<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg w-50">
        <h2 class="text-center text-primary mb-4">Forgot Password</h2>
        <form #forgotPasswordForm="ngForm">
            <p-floatlabel class="mb-4">
                <input pInputText id="email" type="email" class="form-control" name="email" [(ngModel)]="model.userEmail"
                    required email #email="ngModel" />
                <label for="email">Enter your email...</label>
            </p-floatlabel>
            <div *ngIf="email.invalid && email.touched" class="error">
                Email is required and must be a valid email address.
            </div>
               
            <div class="text-center mb-3">
                <p>{{this.model.message}}</p>
             </div>

            <div class="text-center">
                <p-button label="Send Password" class="p-button-primary" type="submit"
                    [disabled]="forgotPasswordForm.invalid" (click)="forgetPassword()"></p-button>
            </div>
            <div class="text-center mt-3">
                <a routerLink="/login" class="text-decoration-none text-primary">Back to Login</a>
            </div>
        </form>
    </div>
</div>
<p-dialog [(visible)]="passwordDialog" [style]="{ width: '450px' }" header="" [modal]="true">
    <ng-template #content>
           <p>Your password is</p> <strong>  {{password}}</strong>
    </ng-template>
</p-dialog>